In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("Data2808.csv")

In [3]:
df["BP"].isna().sum()

92

In [4]:
df = df[df["Patient Name"]!= "Patient "]
temp = df[["Patient Name","Hospital Visited Date","BP"]]

In [5]:
temp = temp.dropna()
temp.isna().sum()

Patient Name             0
Hospital Visited Date    0
BP                       0
dtype: int64

In [6]:
PatientID = []
for i in temp["Patient Name"]:
    pid=i.split()
    if(len(pid) == 1): PatientID.append(pid[0])
    else:
        pid = pid[-1]
        PatientID.append(pid)
# print(len(PatientID))
# PatientID = list(set(PatientID))
# print(len(PatientID))
# print(PatientID)

In [7]:
temp  =temp.drop(['Patient Name'],axis=1)

In [8]:
temp["Patient ID"] = PatientID

In [9]:
temp["Hospital Visited Date"] = temp["Hospital Visited Date"].apply(pd.Timestamp)

In [10]:
temp = temp.sort_values(by="Hospital Visited Date")

In [11]:
temp["BP"].unique()
# print(temp["BP"][0])

array(['130/90', '130/70', '150/70', '130/80', '110/70', '140/90',
       '120/70', '100/70', '100/60', '140/80', '120/80', '160/90',
       '140/70', '150/90', '150/110', '134/90', '110/80', '160/100',
       '140/100', '170/100', '120/90', '180/110', '130/60', '200/90',
       '110/60', '170/90', '120/60', '150/100', '90/40', '150/80',
       '150/8012.4', '160/70', '140/110', '170/110', '160/110', '100/80',
       '130/100', '106/70', '180/140', '150/9', '110/90', '190/110',
       '180/100', '120/701', '170/80', '140/902.6', '190/100', '140/40',
       '160/80', '92', '90/60', '210/110', '90/50', '130/40', '160/60',
       '180/90', '200/100', '140/60', '180/120', '110/80r', '100/170',
       '260/120', '150/60', '180/80', '240/110', '149/70', '64.2',
       '90/70', '120/40', '59.100', '120/30', '100/75', '180/60',
       '200/110', '11/80', '110/40', '9./60', '140/84', '200/130',
       '165/100', '10/60', '120//80'], dtype=object)

In [12]:
temp.shape

(3180, 3)

In [13]:
temp

    Hospital Visited Date      BP Patient ID
232            2008-03-19  130/90        191
230            2008-06-18  130/70        191
229            2008-09-15  150/70        191
226            2009-01-08  130/80        191
221            2009-02-25  110/70        191
..                    ...     ...        ...
54             2023-08-28  130/80        204
116            2023-08-28  120/70        195
60             2023-08-28  130/80        206
18             2023-08-28  110/70        202
0              2023-08-28  160/90        207

[3180 rows x 3 columns]

In [14]:
Systol = []
# Diastol = []
def ChangeBP(df):
    l = df["Patient ID"].unique()
    for num in l: 
        k = df.groupby("Patient ID").get_group(num).reset_index()
        for i,j in zip(k["BP"],k["Hospital Visited Date"]) : 
            te = (re.split("[./r]",i))
            # te = [i for i in te if i]
            if(len(te)>2):
                del te[(len(te)-1)]
            elif(len(te)<=1):
                continue
            else:
                Systol.append([k["Patient ID"][0],j,te[0],te[1]])
    return Systol
            # break
        # print(Systol)
        # break
                # Systol.append((te[0]))
                # Diastol.append((te[1]))
    # te = [int(i) for i in te]

# for i in temp["BP"]:

In [15]:
# l = temp["Patient ID"].unique()
result = ChangeBP(temp)
# k["Patient ID"][0]

In [16]:
BP = pd.DataFrame(result,columns=["Patient ID","Year","Systol","Diastol"])

k = temp.groupby("Patient ID").get_group('80').reset_index()
k

In [17]:
BP1 = BP
BP1["Systol"] = BP1["Systol"].astype(int)
BP1["Diastol"] = BP1["Diastol"].astype(int)

In [18]:
BP1=BP1[(BP1["Systol"]>26) & (BP1["Diastol"]>26)]

In [19]:
BP1=BP1[(BP1["Systol"]<170) & (BP1["Diastol"]<170)]

In [20]:
BP1.shape

(3099, 4)

In [22]:
BP1=BP1[BP1["Patient ID"]!=178]

In [23]:
BP1.to_csv("ChangeInBP2.csv")