In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("data_3008.csv")

In [4]:
df.head(5)

,Patient Name,Hospital Visited Date,Gender,Medications,Injections,Age,Height,Weight,BP,Diabetes,...,Protein,Urine Sugar,Pus Cells,Epithelial,Worker,Diet,Other Medications,Other Injections,Other Medical Condition,Person Created
0,224,2022-01-20,Female,"""TAB.Feburic - 40mg OD"",""TAB.Ketocheck DS"",""TA...","""INJ.Vintor 4000 Weekly Once""",41 in 2023,168,76.40,130/80,Yes,...,NaN,NaN,NaN,NaN,Manual,Veg,NaN,NaN,NaN,bhavadharini@mailinator.com
1,223,2023-07-28,Male,"""TAB.Glynase - 5 mg BD"",""TAB.Cardace - 5mg OD""...",NaN,67 in 2023,170,68.20,120/80,Yes,...,NaN,Nil,2,1,Manual,Veg,NaN,NaN,NaN,bhavadharini@mailinator.com
2,221,2021-10-28,Male,NaN,NaN,70 in 2023,165,58.100,100/60,No,...,NaN,1+,4-6,2-3,Manual,Veg,NaN,NaN,NaN,bhavadharini@mailinator.com
3,225,2023-06-05,Male,"""TAB Amtas 5 mg BD"",""TAB.Met XL - 25mg BD"",""TA...",NaN,68 in 2023,170,74.40,140/80,Yes,...,NaN,3+,2-3,1-2,Manual,Veg,NaN,NaN,BPH,bhavadharini@mailinator.com
4,226,2017-04-16,Female,"""TAB.Rantac - 150mg BD"",""TAB.Megahenz 40mg OD""",NaN,71 in 2023,160,59.64,130/70,No,...,NaN,Nil,2-3,1-2,Field,Veg,NaN,NaN,Broncyl asthma,bhavadharini@mailinator.com

In [5]:
df.shape

(3508, 49)

In [6]:
df.drop(['Gender','Age','Height',
 'Weight',
 'BP',
 'Diabetes',
 'Hypertension',
 'Smoking History',
 'Family History',
 'Previous Kidney Disease','Cardiovascular Disease','Urinary Tract Infection',
 'Kidney Stone',
 'Kidney Injury History',
 'Urine Output Per Day',
 'Total Water Intake',
 'Sun Exposure',
 'Living Area','Worker','Diet','Person Created','Other Medications',
 'Other Injections','Other Medical Condition','Patient Name',
 'Hospital Visited Date'],axis=1,inplace=True)

In [7]:
df.shape

(3508, 23)

In [8]:
missing=list(df.isna().sum())

In [9]:
df.shape[0]

3508

In [10]:
percentage=[round((i/df.shape[0])*100,2) for i in missing]

In [11]:
attr=list(df.columns)

attr

['Medications',
 'Injections',
 'Urine Albumin',
 'Glomerular Filration',
 'Serum Creatinine Level',
 'Haemoglobin Level',
 'Serum Calcium Level',
 'Serum Phosphorous Level',
 'Serum Potassium Level',
 'Serum Sodium Level',
 'Serum Albumin Level',
 'Serum Bicarbonate',
 'Total Count',
 'Random Blood Sugar',
 'Urea',
 'Cholestrol',
 'Magnesium',
 'Uric Acid',
 'Chloride',
 'Protein',
 'Urine Sugar',
 'Pus Cells',
 'Epithelial']

In [12]:
data = {'Attributes':attr,'Percentage':percentage}

In [13]:
df2=pd.DataFrame(data=data)

In [14]:
df2

                 Attributes  Percentage
0               Medications        1.23
1                Injections       86.43
2             Urine Albumin        8.30
3      Glomerular Filration       10.43
4    Serum Creatinine Level        1.05
5         Haemoglobin Level        3.79
6       Serum Calcium Level       92.84
7   Serum Phosphorous Level       93.24
8     Serum Potassium Level       60.43
9        Serum Sodium Level       83.95
10      Serum Albumin Level       95.61
11        Serum Bicarbonate       84.98
12              Total Count        6.33
13       Random Blood Sugar        4.48
14                     Urea        4.76
15               Cholestrol       94.56
16                Magnesium       96.47
17                Uric Acid       61.92
18                 Chloride       86.74
19                  Protein       95.84
20              Urine Sugar        9.64
21                Pus Cells        9.21
22               Epithelial        9.06

In [15]:
df2.to_csv("Missing_values.csv")

In [16]:
total = [df.shape[0] for i in range(len(attr))]

In [17]:
data1 = {'Attributes':attr,'Missing_count':missing,'Total':total,'Percentage':percentage}

In [18]:
df3 = pd.DataFrame(data1)

In [19]:
df3.to_csv("Missing_values.csv")

data2 = {'Total Patients' : [152],'Records':[2480]}

df4 = pd.DataFrame(data2)

df4.to_csv("total.csv")